h1,h2,h3,h4,h5,h6 {
    font-family: sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    flex: 0 50px;
    background-color:#CCFFCC;
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

footer {
    justify-items: center;
    align-items: center;
    flex: 0 30px;
    display: flex;
    flex-direction: column;
    background-color:#CCFFCC;
}