main {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr 3fr;
    gap: 20px;
}

main div {
    border: 3px solid #4B4;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#friend_info {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.btn-secondary {
    color: #B44 !important;
    border-color: #B44 !important;
}