.quoteArray {
    border: 3px solid #4B4;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    box-sizing: border-box;
}